@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;800&display=swap');

*{
    margin: 0px;
    padding: 0px;
    
}

:root{
    --cor01: #317327;
    --cor02: rgb(25, 187, 52);
    --cor03: #F2A81D;
    --cor04: #FFDE6B;

    --font-destaque:'bebas neuer', cursive;
    --font-padrao: 'Outfit', 'Arial', sans-serif;
}

body{
    background-image: radial-gradient(circle, #FFDE6B 30%, #BD7E05);
}

header{
    background-image: radial-gradient(ellipse at center, var(--cor02)1%, var(--cor01) 100%);
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    
}

header p{
    color: white;
}

header .logo-CETI{
    
    width: 130px;
    
}
nav{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    height: 30px;
    list-style-type: none;
    
}

.links{
    display: flex;
    justify-content:space-around;
    width: 700px;
}

.links a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
    padding: 5px 10px;
    font-family:var(--font-destaque);

    background-color: transparent;
    background-image: linear-gradient(to top right, transparent 0%, transparent 49%, var(--cor03) 50%);
    background-size: 200% 200%;
    background-position: bottom left;
    transition: background-position 0.5s ease;    
}

.links a:hover{
    background-position: top right;
    border: none;
    color:white;
    
    box-shadow: 0px 0px 10px 5px rgba(17, 119, 17, 0.635);
}

main{
    display: flex;
    flex-direction: row;
    max-width: 1440px;
    margin: auto;
}

.menu-lateral{
    background-color: white;
    flex: 0.2;
    padding: 30px 10px 10px 10px;
    font-family: var(--font-padrao);
    
}

.menu-lateral-content{
    margin-bottom: 20px;
}

.menu-lateral legend{
    text-align: center;
    
    color: white;
    background-color: var(--cor03);
    padding: 10px 20px;
    border-top: 4px solid #317327;
    border-radius: 0px 0px 10px 10px;
    font-size: 0.8em;
    box-shadow: 0px 0px 15px  rgb(56, 55, 55);
}

.menu-lateral fieldset{
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 4px;
    border-style:dashed;
    border-color: var(--cor01);
    border-image: initial;
    min-width: 150px;
    max-width: 200px;
}

.menu-lateral ul{
    list-style-type:none;
    
}
.menu-lateral li{
    padding: 5px 10px 5px 10px;
    border-top: 1px solid rgba(128, 128, 128, 0.348);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.menu-lateral a{
    text-decoration: none;
    color: black;
}

.main-content{
    display: flex;
    flex-wrap: wrap;
    flex: 0.8;
    background-color: white;
    padding: 30px;
    font-family: var(--font-padrao);
}

footer{
    text-align: center;
    font: 16px 'Outfit' ;
    background-color: var(--cor01);
    color: white;
    padding: 10px;
}

@media (max-width:800px){
    header{
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    nav{
        width: 150px;
    }

    .links{
        flex-direction: column;
    }
}